<div>
    <form role="form">
        <label for="key">Link</label>
        <input class="form-control" id="key" type="text" placeholder="add link" ng-model="home.data">
        <button type="submit" class="btn btn-success" ng-click="home.sendData()">Post</button>
        <button type="submit" class="btn btn-success" ng-click="home.getAllLinks()">Get all Links</button>
        <div class="gener">Link generate: <span><a href="{{home.result}}">{{home.result}}</a></span></div>
    </form>
</div>
