.container {
    margin: 0 auto;
    background-color: #F0FFFF;
    margin-top: 30px;
}
a {
    color: black;
    cursor: pointer;
}
button {
    margin-top: 10px;
}
.gener {
    font-size: 24px;
}
form {
    margin-top: 20px;
}
h1 {
    margin-left: 100px;
}
li {
    list-style: none;
}
.a {
    width: 60%;
    margin: 0 auto;
}
