<div class="a">
<h1 class="text-center">All links</h1>
    <div class="links" ng-repeat="index in info.links">
        <div ng-repeat="(key, value) in index">
            <ul>
                <li><div>Link: <a href="http://localhost:3333/home/{{value}}">"http://localhost:3333/home/{{value}}"</a><button ng-click="info.deleteLinks($index)">X</button></li>

                </div>
            </ul>

        </div>
        <button class="btn btn-success" ng-click="info.goToHome()">Home</button>
    </div>
</div>
